{% extends 'core/base.html' %}

{% block title%} Login {% endblock %}

{% block content %}

<div class="w-1/3 my-6 mx-auto p-6 rounded-xl">
    <p class="text-xl font-semibold text-teal-600">MediCall+</p>
    <h1 class="mb-4 text-xl">Login</h1>

    <form method="POST" action="{% url 'core:verify-otp' %}">
        {% csrf_token %}
        {% if error %}
            <p class="text-red-600 font-semibold py-3">{{error}}</p>
        {% endif %}
        <div class="mb-2">
            <label class="inline-block mb-2">OTP Code</label><br>
            <input type="text" name="otp" placeholder="Your otp code" class="w-full px-4 py-3 rounded-xl">
        </div>

        
        <button type="submit" class="px-3 py-1 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Verify</button>

    </form>
</div>

{% endblock %}