{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}

    <div class="pb-6 grid grid-cols-5 gap-4">
        
        <div class="col-span-1  bg-gray-100 py-3 px-2 rounded-md">
            <form method="get", action="{% url 'item:items' %}">
                <div class="flex justify-between items-center gap-2">
                    <input name="query" class="w-full px-1 py-1 border rounded-xl" type="text" value="{{ guery }}" placeholder="Find your items ....">
                    <button class="py-1 px-1 text-sm bg-teal-500 text-white rounded-xl">Search</button>
                </div>
            </form>

            <hr class="my-6">
            <p class="font-semibold">Categories</p>

            <ul>
           
                {% for category in categories %}

                    <!-- <li class="px-2 py-2 rounded-xl bg-teal-400 my-2 {% if search_category == category.id %} bg-blue-600 {% endif %}"> -->
                    <li class="{% if category.id == search_category %}
                                px-2 py-2 rounded-xl bg-teal-400 my-2 text-white font-semibold
                              {% else %}
                                px-2 py-2 rounded-xl my-2
                              {% endif %}">    
                      <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name}} </a>
                    </li>

                {% endfor %}

            </ul>
            <hr class="my-6">
            <p class="font-semibold">Clear Filter</p>

            <ul>
                <li>
                    <a href="/items/" class="mt-1 px-2 bg-teal-500 rounded-xl inline-block text-lg font-sm text-white hover:bg-yellow-800">Clear</a></li>
            </ul>

        </div>

        <div class="col-span-4">
            {% if current_category %}
            <div class="py-3">
              <a href="/"><span class="bg-gray-400 text-white rounded px-2 text-center pb-1 hover:bg-gray-500">Home ></span></a>
              <span class="bg-gray-400 text-white rounded px-2 text-center pb-1">{{current_category}}</span>
            </div>
            {% endif %}
            <div class="grid grid-cols-4 gap-4  ">
                {% for item in items %}
                <div class="w-full flex items-center justify-center  bg-gray-200">
                    <!-- product card -->
                    <article class="max-w-sm w-full bg-gray-120 rounded-lg shadow-lg overflow-hidden ">
                      <div>
                        <img class="object-cover h-44 w-full" src="{{item.image.url}}" alt="Medicine" />
                      </div>
                  
                      <div class="flex flex-col gap-1 mt-4 px-4">
                        <h2 class="text-lg font-bold text-teal-800">{{item.name}}</h2>
                        <span class="font-bold text-gray-800 ">TK {{item.price}}</span>
                      </div>
                
                      <div class="mt-4 p-4 border bg-teal-600 hover:bg-teal-500 dark:border-teal-500">
                        <a href="{% url 'item:detail' item.id %}" class="w-full flex justify-between items-center font-bold cursor-pointer hover:underline text-gray-800 ">
                          <span class="text-base text-white rounded-full">Buy Now</span>
                          <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                          </svg>
                        </a>
                      </div>
                    </article>
                  </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}